<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>751716775682-btn86knr04a3cen21r3vctlpjbft03sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751716775682-btn86knr04a3cen21r3vctlpjbft03sq</string>
	<key>API_KEY</key>
	<string>AIzaSyBuMFKtto-1kR5HIprkjFU5RV4l3dQyxzM</string>
	<key>GCM_SENDER_ID</key>
	<string>751716775682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.geodesity.FunWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>safeapp-6643e</string>
	<key>STORAGE_BUCKET</key>
	<string>safeapp-6643e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:751716775682:ios:7ebae4582241e475</string>
	<key>DATABASE_URL</key>
	<string>https://safeapp-6643e.firebaseio.com</string>
</dict>
</plist>